<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.everone11.uvccamera.xposed">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="33" />

    <application
        android:allowBackup="false"
        android:label="UVC Camera Xposed Module">
        <!-- 无需 Activity；只是一个 xposed 模块 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hook Camera1Enumerator.getSupportedFormats to observe/modify supported formats" />
    </application>
</manifest>
